.container .footer {
  padding: 20px 120px 20px 0px;
  margin-top: 60px;
  position: relative;
}
.container .footer .container {
  display: flex;
  justify-content: space-around;
}
.container .footer .container .footer__section {
  text-align: center;
}
.container .footer .container .footer__section .footer__section--footer .section--social {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.container .footer .container .footer__section .footer__section--footer .section--social li .social--link img {
  width: 60px;
  margin: 8px;
}
.container .footer .container .footer__section .footer__section--footer .section--social li .social--link img:hover {
  transition: all 0.6s;
  opacity: 80%;
}
.container .footer .container .footer__section .footer__section--body {
  text-align: left;
  display: flex;
}
.container .footer .container .footer__section .footer__section--body ul {
  list-style: none;
}
.container .footer .container .footer__section .footer__section--body .link__logo--footer .logo__footer {
  width: 120px;
}
.container .footer .container .footer__section .footer__section--title {
  margin-bottom: 20px;
}
.container .footer__right {
  text-align: center;
  position: relative;
}

@media (min-width: 320px) and (max-width: 374px) {
  .container .footer {
    padding: 10px;
    text-align: center;
  }
  .container .footer ul {
    padding: 0px;
  }
  .container .footer .container {
    display: block;
  }
  .container .footer .container .footer__section .footer__section--body {
    display: block;
    text-align: center;
  }
  .container .footer .container .footer__section .footer__section--footer .section--social {
    display: block;
  }
}
@media (min-width: 375px) and (max-width: 409px) {
  .container .footer {
    padding: 10px;
    text-align: center;
  }
  .container .footer ul {
    padding: 0px;
  }
  .container .footer .container {
    display: block;
  }
  .container .footer .container .footer__section .footer__section--body {
    display: block;
    text-align: center;
  }
  .container .footer .container .footer__section .footer__section--footer .section--social {
    display: block;
  }
}
@media (min-width: 410px) and (max-width: 539px) {
  .container .footer {
    padding: 10px;
    text-align: center;
  }
  .container .footer ul {
    padding: 0px;
  }
  .container .footer .container {
    display: block;
  }
  .container .footer .container .footer__section .footer__section--body {
    display: block;
    text-align: center;
  }
  .container .footer .container .footer__section .footer__section--footer .section--social {
    display: block;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .container .footer {
    padding: 10px;
    text-align: center;
  }
  .container .footer ul {
    padding: 0px;
  }
  .container .footer .container {
    display: block;
  }
  .container .footer .container .footer__section .footer__section--body {
    display: block;
    text-align: center;
  }
  .container .footer .container .footer__section .footer__section--footer .section--social {
    display: block;
  }
}
.highlights {
  margin-top: 80px;
  position: relative;
}
.highlights .container .high__mob {
  display: none;
}
.highlights .container .high__desk .carousel .carousel-inner .carousel-item .riel__serv {
  margin-top: 80px;
}
.highlights .container .high__desk .carousel .carousel-inner .carousel-item .riel__serv .container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.highlights .container .high__desk .carousel .carousel-inner .carousel-item .riel__serv .container .serv__one {
  width: 20%;
}
.highlights .container .high__desk .carousel .carousel-inner .carousel-item .riel__serv .container .serv__one .serv__img .serv__img--item {
  width: 60px;
  margin: 10px;
}
.highlights .otc {
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 320px) and (max-width: 374px) {
  .highlights .container .high__title {
    text-align: center;
  }
  .highlights .container .high__desk {
    display: none;
  }
  .highlights .container .high__mob {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  .highlights .container .high__mob img {
    width: 60px;
    margin: 20px;
  }
}
@media (min-width: 375px) and (max-width: 409px) {
  .highlights .container .high__title {
    text-align: center;
  }
  .highlights .container .high__desk {
    display: none;
  }
  .highlights .container .high__mob {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  .highlights .container .high__mob img {
    width: 60px;
    margin: 20px;
  }
}
@media (min-width: 410px) and (max-width: 539px) {
  .highlights .container .high__title {
    text-align: center;
  }
  .highlights .container .high__desk {
    display: none;
  }
  .highlights .container .high__mob {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  .highlights .container .high__mob img {
    width: 60px;
    margin: 20px;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .highlights .container .high__title {
    text-align: center;
  }
  .highlights .container .high__desk {
    display: none;
  }
  .highlights .container .high__mob {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  .highlights .container .high__mob img {
    width: 60px;
    margin: 20px;
  }
}
.inner__nos {
  width: 100%;
  position: relative;
}

.inner__mob {
  display: none;
}

.nos {
  margin-top: 80px;
  position: relative;
}
.nos .container .nos__header {
  margin-top: 60px;
  text-align: center;
}
.nos .container .nos__body {
  display: block;
}
.nos .container .nos__body .nos__body--item {
  display: block;
  margin-top: 60px;
}
.nos .container .nos__body .nos__body--item .item--title {
  text-align: center;
  margin-bottom: 40px;
}
.nos .container .nos__body .nos__body--item .item--body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nos .container .nos__body .nos__body--item .item--body img {
  width: 500px;
  margin: 20px;
}
.nos .container .nos__body .nos__body--item .item--body p {
  width: 30%;
}
.nos .container .partners {
  text-align: center;
  margin-top: 80px;
  height: 460px;
}
.nos .container .partners .part__body {
  margin-top: 60px;
}
.nos .container .partners .part__body .aliance p {
  margin-top: 40px;
}

@media (min-width: 320px) and (max-width: 374px) {
  .inner__nos {
    display: none;
  }

  .inner__mob {
    display: block;
    width: 100%;
    position: relative;
  }

  .nos .container .nos__body .nos__body--item {
    text-align: center;
  }
  .nos .container .nos__body .nos__body--item .item--body {
    display: block;
  }
  .nos .container .nos__body .nos__body--item .item--body img {
    width: 90%;
  }
  .nos .container .nos__body .nos__body--item .item--body p {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 375px) and (max-width: 409px) {
  .nos .container .nos__body .nos__body--item {
    text-align: center;
  }
  .nos .container .nos__body .nos__body--item .item--body {
    display: block;
  }
  .nos .container .nos__body .nos__body--item .item--body img {
    width: 90%;
  }
  .nos .container .nos__body .nos__body--item .item--body p {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 410px) and (max-width: 539px) {
  .nos .container .nos__body .nos__body--item {
    text-align: center;
  }
  .nos .container .nos__body .nos__body--item .item--body {
    display: block;
  }
  .nos .container .nos__body .nos__body--item .item--body img {
    width: 90%;
  }
  .nos .container .nos__body .nos__body--item .item--body p {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .nos .container .nos__body .nos__body--item {
    text-align: center;
  }
  .nos .container .nos__body .nos__body--item .item--body {
    display: block;
  }
  .nos .container .nos__body .nos__body--item .item--body img {
    width: 90%;
  }
  .nos .container .nos__body .nos__body--item .item--body p {
    width: 100%;
    text-align: center;
  }
}
.ser {
  margin-top: 80px;
  position: relative;
}
.ser .container .ser__header {
  text-align: center;
}
.ser .container .ser__header p {
  margin-top: 16px;
}
.ser .container .ser__body {
  margin-top: 80px;
}
.ser .container .ser__body .container .ser__item {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ser .container .ser__body .container .ser__item .serv__img {
  position: relative;
}
.ser .container .ser__body .container .ser__item .serv__img img {
  width: 520px;
}
.ser .container .ser__body .container .ser__item .serv__txt {
  display: block;
  width: 50%;
}
.ser .container .ser__body .container .ser__item .serv__txt .serv__icons img {
  height: 40px;
  margin: 20px;
}
.ser .container .ser__body .container .basics {
  margin-top: 60px;
}
.ser .container .ser__body .container .serv__end {
  margin-top: 80px;
  text-align: center;
  width: 40%;
  margin-left: 30%;
}

@media (min-width: 320px) and (max-width: 374px) {
  .inner__con {
    display: none;
  }

  .ser .container {
    text-align: center;
  }
  .ser .container .ser__body .container .basics {
    text-align: center;
  }
  .ser .container .ser__body .container .ser__item {
    display: block;
  }
  .ser .container .ser__body .container .ser__item .serv__img img {
    width: 100%;
  }
  .ser .container .ser__body .container .ser__item .serv__txt {
    width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 409px) {
  .ser .container {
    text-align: center;
  }
  .ser .container .ser__body .container .basics {
    text-align: center;
  }
  .ser .container .ser__body .container .ser__item {
    display: block;
  }
  .ser .container .ser__body .container .ser__item .serv__img img {
    width: 100%;
  }
  .ser .container .ser__body .container .ser__item .serv__txt {
    width: 100%;
  }
}
@media (min-width: 410px) and (max-width: 539px) {
  .ser .container {
    text-align: center;
  }
  .ser .container .ser__body .container .basics {
    text-align: center;
  }
  .ser .container .ser__body .container .ser__item {
    display: block;
  }
  .ser .container .ser__body .container .ser__item .serv__img img {
    width: 100%;
  }
  .ser .container .ser__body .container .ser__item .serv__txt {
    width: 100%;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .ser .container {
    text-align: center;
  }
  .ser .container .ser__body .container .basics {
    text-align: center;
  }
  .ser .container .ser__body .container .ser__item {
    display: block;
  }
  .ser .container .ser__body .container .ser__item .serv__img img {
    width: 100%;
  }
  .ser .container .ser__body .container .ser__item .serv__txt {
    width: 100%;
  }
}
.claims {
  margin-top: 120px;
  position: relative;
}
.claims .container {
  display: block;
}
.claims .container .claims__fig {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.claims .container .claims__fig .claim-a {
  width: 20%;
  text-align: center;
  cursor: pointer;
}
.claims .container .claims__fig .claim-a .img__claim {
  width: 80px;
}
.claims .container .claims__fig .claim-a .txt__claim {
  margin-top: 20px;
  opacity: 0%;
}
.claims .container .claims__fig .claim-a:hover .txt__claim {
  transition: all 0.6s;
  opacity: 100%;
}
.claims .container .claims__mob {
  display: none;
}

@media (min-width: 320px) and (max-width: 374px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
@media (min-width: 375px) and (max-width: 409px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
@media (min-width: 410px) and (max-width: 539px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .claims {
    text-align: center;
  }
  .claims .container .claims__fig {
    display: none;
  }
  .claims .container .claims__mob {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  .claims .container .claims__mob .claim-a {
    margin: 40px 20px 40px 20px;
  }
  .claims .container .claims__mob .claim-a .img__claim {
    width: 80px;
  }
}
body {
  background: #212529;
  color: #fff;
}

.masthead {
  background: url(/img/background.jpg);
  opacity: 20%;
  width: 100%;
  height: 300%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.masthead_nos {
  background: url(/img/background.jpg);
  width: 90%;
  height: 356%;
  opacity: 20%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  transition: all 0.4s;
  color: #740000;
  text-decoration: none;
}

.carousel__mob {
  display: none;
}

.backg {
  width: 100%;
  opacity: 20%;
  position: absolute;
  z-index: 0;
}

.backg__mobile {
  display: none;
}

.inner__con {
  position: relative;
  width: 100%;
}

.ados {
  color: #212529;
  text-decoration: none;
}
.ados:hover {
  transition: all 0.4s;
  color: #740000;
  text-decoration: none;
}

.logo-menu {
  width: 120px;
}

.intro {
  padding: 60px 20px 20px 20px;
  margin-top: 40px;
}
.intro .container {
  display: flex;
  justify-content: center;
}
.intro .container .intro__img {
  z-index: 1;
}
.intro .container .intro__img img {
  width: 400px;
  z-index: 1;
}
.intro .container .intro__txt {
  width: 400px;
  padding: 20px 20px 20px 20px;
  z-index: 1;
}

.users__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users__menu .icono__iniciar {
  height: 20px;
  margin-left: 12px;
}
.users__menu .icono__iniciar:hover {
  transition: all 0.6s;
  opacity: 80%;
}
.users__menu .icono__registrar {
  height: 22px;
  margin-left: 12px;
}
.users__menu .icono__registrar:hover {
  transition: all 0.6s;
  opacity: 80%;
}

.solicitud {
  margin-top: 80px;
  position: relative;
}
.solicitud .container .sol__body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}
.solicitud .container .sol__body .body__section {
  width: 30%;
  text-align: center;
}
.solicitud .container .sol__body .body__section a .sol__img {
  margin: 20px;
  opacity: 80%;
}
.solicitud .container .sol__body .body__section a .sol__img:hover {
  transition: all 0.4s;
  opacity: 100%;
}

.slogan {
  text-align: center;
  margin-top: 120px;
  position: relative;
}
.slogan .container .slogan__txt {
  font-size: 36px;
}

@media (min-width: 320px) and (max-width: 374px) {
  .carousel__desk {
    display: none;
  }

  .carousel__mob {
    display: block;
  }

  .backg {
    display: none;
  }

  .backg__mobile {
    display: block;
    width: 100%;
    opacity: 20%;
    position: absolute;
    z-index: 0;
  }

  .intro {
    position: relative;
    text-align: center;
  }
  .intro .container {
    display: block;
  }
  .intro .container .intro__img img {
    width: 240px;
  }
  .intro .container .intro__txt {
    width: 240px;
  }

  .solicitud .container .sol__body {
    display: block;
  }
  .solicitud .container .sol__body .body__section {
    width: 100%;
  }
}
@media (min-width: 375px) and (max-width: 409px) {
  .carousel__desk {
    display: none;
  }

  .carousel__mob {
    display: block;
  }

  .backg {
    display: none;
  }

  .backg__mobile {
    display: block;
    width: 100%;
    opacity: 20%;
    position: absolute;
    z-index: 0;
  }

  .intro {
    position: relative;
    text-align: center;
  }
  .intro .container {
    display: block;
  }
  .intro .container .intro__img img {
    width: 100%;
  }
  .intro .container .intro__txt {
    width: 100%;
  }

  .solicitud .container .sol__body {
    display: block;
  }
  .solicitud .container .sol__body .body__section {
    width: 100%;
  }
}
@media (min-width: 410px) and (max-width: 539px) {
  .carousel__desk {
    display: none;
  }

  .carousel__mob {
    display: block;
  }

  .backg {
    display: none;
  }

  .backg__mobile {
    display: block;
    width: 100%;
    opacity: 20%;
    position: absolute;
    z-index: 0;
  }

  .intro {
    position: relative;
    text-align: center;
  }
  .intro .container {
    display: block;
  }
  .intro .container .intro__img img {
    width: 100%;
  }
  .intro .container .intro__txt {
    width: 100%;
  }

  .solicitud .container .sol__body {
    display: block;
  }
  .solicitud .container .sol__body .body__section {
    width: 100%;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  .carousel__desk {
    display: none;
  }

  .carousel__mob {
    display: block;
  }

  .backg {
    display: none;
  }

  .backg__mobile {
    display: block;
    width: 100%;
    opacity: 20%;
    position: absolute;
    z-index: 0;
  }

  .intro {
    position: relative;
    text-align: center;
  }
  .intro .container {
    display: block;
  }
  .intro .container .intro__img img {
    width: 100%;
  }
  .intro .container .intro__txt {
    width: 100%;
  }

  .solicitud .container .sol__body {
    display: block;
  }
  .solicitud .container .sol__body .body__section {
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
