{{!-- Footer --}}

<div class="container">
    <div class="footer">
        <div class="container">
            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>Mapa de sitio</h4>
                </div>
                <div class="footer__section--body">
                    <ul class="section--sitemap">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/">Nosotros</a></li>
                        <li><a href="/">Servicios</a></li>
                        <li><a href="/">Contacto</a></li>
                    </ul>
                    <ul class="section--sitemap--dos">
                        <li><a href="/">Política de Cookies</a></li>
                        <li><a href="/">Política de Privacidad</a></li>
                        <li><a href="/">Mapa de sitio</a></li>
                        <li><a href="/">Aliados K1N0C0M</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>Contacto</h4>
                </div>
                <div class="footer__section--footer">
                    <ul class="section--social">
                        <li>
                            <a class="social--link" target="_blank" rel="nofollow" href="https://facebook.com/">
                                <img src="/img/face.png" alt="Facebook k1n0" title="Facebook | K1n0.com">
                            </a>
                        </li>
                        <li>
                            <a class="social--link" target="_blank" rel="nofollow" href="https://linkedin.com/">
                                <img src="/img/linked.png" alt="LinkedIn k1n0" title="LinkedIn | K1n0.com">
                            </a>
                        </li>
                        <li>
                            <a class="social--link" target="_blank" rel="nofollow" href="https://instagram.com/">
                                <img src="/img/insta.png" alt="Instagram k1n0" title="Instagram | K1n0.com">
                            </a>
                        </li>
                        <li>
                            <a class="social--link" target="_blank" rel="nofollow" href="https://wa.link/ra2121">
                                <img src="/img/ws-white.png" alt="Whatsapp k1n0" title="Whatsapp | K1n0.com">
                            </a>
                        </li>
                        <li>
                            <a class="social--link" target="_blank" rel="nofollow" href="https://goo.gl/maps/692mg6D97drvYrQt9">
                                <img src="/img/pointer-dos.png" alt="Maps k1n0" title="Maps | K1n0.com">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__section">
                <div class="footer__section--title">
                    <h4>K1N0.C0M</h4>
                </div>
                <div class="footer__section--body">
                    <a class="link__logo--footer" href="/">
                        <img src="/img/logo-black-png.png" alt="Logo k1n0" title="Logo | K1n0.com" class="logo__footer">
                    </a>
                </div>
            </div>
            
        </div>
    </div>

    <p class="footer__right">
        Todos los derechos reservados - K1N0COM 2021
    </p>
</div>