{{!-- Menu --}}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/logo-black-png.png" alt="Logo k1n0" title="Logo | k1n0.com" class="logo-menu">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" style="margin-left: auto;">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    <a class="nav-link" href="/nosotros">Nosotros</a>
                    <a class="nav-link" href="/servicios">Servicios</a>

                    <div class="users__menu">
                        {{#if user}}
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.username}}
                                <img class="icono__iniciar" src="/img/usr-red.png" alt="Selector k1n0" title="Tu cuenta">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/profile">Perfil</a></li>
                                <li><a class="dropdown-item" href="/links">Mi cuenta</a></li>
                                <li><a class="dropdown-item" href="/links/add">Solicitar</a></li>
                                <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                            </ul>
                        </div>
                        {{else}}
                        <a href="/signin"><img class="icono__iniciar" src="/img/iniciar.png" alt="Login k1n0" title="Inicia Sesión"></a>
                        <a href="/signup">
                            <img class="icono__registrar" src="/img/register.png" alt="Registro k1n0" title="Regístrate">
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

{{!-- Fin Menu --}}