body {
    background: $gris;
    color: $bl;
}

.masthead {
    img {
        width: 100%;
        opacity: 10%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        z-index: -1;
    }
}

.sticky-wp {
    position: fixed;
    right: 8px;
    border: 1px solid blue;
    justify-content: end;
    bottom: 90px;

    .enlace-wp {
        display: flex;
        color: white;
        text-align: center;
        text-decoration: none;
        img {
            position: relative;
            opacity: 30%;
            width: 20%;
            height: 20%;
        }
        p {
            opacity: 0%;
            text-align: center;
            margin: 20px 10px 10px 20px;
        }

        &:hover {
            transition: all .6s;
            img {
                opacity: 100%;
                transition: all .6s;
            }

            p {
                opacity: 100%;
                transition: all .6s;
            }
        }
    }
}

.masthead_nos {
    background: url(/img/background.jpg);
    width: 100%;
    height: 356%;
    opacity: 20%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

a {
    color: $bl;
    text-decoration: none;
    &:hover {
        transition: all 0.4s;
        color: $red;
        text-decoration: none;
    }
}

.carousel__mob {
    display: none;
}

.backg {
    width: 100%;
    opacity: 20%;
    position: absolute;
    z-index: 0;
}

.backg__mobile {
    display: none;
}

.inner__con {
    position: relative;
    width: 100%;
}

.ados {
    color: $gris;
    text-decoration: none;
    &:hover {
        transition: all 0.4s;
        color: $red;
        text-decoration: none;
    }
}

.logo-menu {
    width: 120px;
}

.intro {
    padding: 60px 20px 20px 20px;
    margin-top: 40px;
    .container {
        display: flex;
        justify-content: center;
        .intro__img {
            z-index: 1;
            img {
                width: 400px;
                z-index: 1;
            }
        }

        .intro__txt {
            width: 400px;
            padding: 20px 20px 20px 20px;
            z-index: 1;
        }
    }
}

.users__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icono__iniciar {
        height: 20px;
        margin-left: 12px;
        &:hover {
            transition: all 0.6s;
            opacity: 80%;
        }
    }

    .icono__registrar {
        height: 22px;
        margin-left: 12px;
        &:hover {
            transition: all 0.6s;
            opacity: 80%;
        }
    }
}

.solicitud {
    margin-top: 80px;
    position: relative;
    .container {
        .sol__body {
            display: flex;
            justify-content: space-evenly;
            margin-top: 80px;

            .body__section {
                width: 30%;
                text-align: center;
                a {
                    .sol__img {
                        margin: 20px;
                        opacity: 80%;
                        &:hover {
                            transition: all 0.4s;
                            opacity: 100%;
                        }
                    }
                }
            }
        }
    }
}

.slogan {
    text-align: center;
    margin-top: 120px;
    position: relative;
    .container {
        .slogan__txt {
            font-size: 36px;
        }
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .carousel__desk {
        display: none;
    }

    .carousel__mob {
        display: block;
    }

    .backg {
        display: none;
    }

    .backg__mobile {
        display: block;
        width: 100%;
        opacity: 20%;
        position: absolute;
        z-index: 0;
    }

    .intro {
        position: relative;
        text-align: center;
        .container {
            display: block;
            .intro__img {
                img {
                    width: 240px;
                }
            }

            .intro__txt {
                width: 240px;
            }
        }
    }

    .solicitud {
        .container {
            .sol__body {
                display: block;

                .body__section {
                    width: 100%;
                }
            }
        }
    }

    .inner__con {
        display: none;
    }
}

@media (min-width: 375px) and (max-width: 409px) {
    .carousel__desk {
        display: none;
    }

    .carousel__mob {
        display: block;
    }

    .backg {
        display: none;
    }

    .backg__mobile {
        display: block;
        width: 100%;
        opacity: 20%;
        position: absolute;
        z-index: 0;
    }

    .intro {
        position: relative;
        text-align: center;
        .container {
            display: block;
            .intro__img {
                img {
                    width: 100%;
                }
            }

            .intro__txt {
                width: 100%;
            }
        }
    }

    .solicitud {
        .container {
            .sol__body {
                display: block;

                .body__section {
                    width: 100%;
                }
            }
        }
    }

    .inner__con {
        display: none;
    }
}

@media (min-width: 410px) and (max-width: 539px) {
    .carousel__desk {
        display: none;
    }

    .inner__con {
        display: none;
    }

    .carousel__mob {
        display: block;
    }

    .backg {
        display: none;
    }

    .backg__mobile {
        display: block;
        width: 100%;
        opacity: 20%;
        position: absolute;
        z-index: 0;
    }

    .intro {
        position: relative;
        text-align: center;
        .container {
            display: block;
            .intro__img {
                img {
                    width: 100%;
                }
            }

            .intro__txt {
                width: 100%;
            }
        }
    }

    .solicitud {
        .container {
            .sol__body {
                display: block;

                .body__section {
                    width: 100%;
                }
            }
        }
    }

    .inner__con {
        display: none;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .carousel__desk {
        display: none;
    }

    .carousel__mob {
        display: block;
    }

    .backg {
        display: none;
    }

    .backg__mobile {
        display: block;
        width: 100%;
        opacity: 20%;
        position: absolute;
        z-index: 0;
    }

    .intro {
        position: relative;
        text-align: center;
        .container {
            display: block;
            .intro__img {
                img {
                    width: 100%;
                }
            }

            .intro__txt {
                width: 100%;
            }
        }
    }

    .solicitud {
        .container {
            .sol__body {
                display: block;

                .body__section {
                    width: 100%;
                }
            }
        }
    }

    .inner__con {
        display: none;
    }
}
