.inner__nos {
    width: 100%;
    position: relative;
}

.nos {
    margin-top: 80px;
    position: relative;
    .container {
        .nos__header {
            margin-top: 60px;
            text-align: center;
        }

        .nos__body {
            display: block;

            .nos__body--item {
                display: block;
                margin-top: 60px;

                .item--title {
                    text-align: center;
                    margin-bottom: 40px;
                }

                .item--body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 500px;
                        margin: 20px;
                    }
                    p {
                        width: 30%;
                    }
                }
            }

        }

        .partners {
            text-align: center;
            margin-top: 80px;
            height: 460px;

            .part__body {
                margin-top: 60px;

                .aliance {
                    p {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}
