<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http--equiv="X-UA-Compatible" content="ie=edhge">
    {{!-- Propiedades OG --}}
    <meta property="og:title" content="k1n0c0m | Servicios web y comunicaciones en Medellín" />
    <meta property="og:description"
        content="k1n0c0m | Servicios web y comunicaciones en Medellín | Comunicaciones y desarrollo web" />
    <meta property="og:type" content="Web" />
    <meta property="og:url" content="https://www.k1n0.com.co/" />
    <meta property="og:site_name" content="k1n0c0m" />
    <meta property="og:image" content="https://www.k1n0.com.co/img/logo-intro-black.jpg" />
    <meta property="og:image:width" content="60" />
    <meta property="og:image:height" content="60" />
    <meta property="og:local" content="es_LA" />
    <meta name="google-site-verification" content="Ljsin1yVzfgxv31NsdVzUlObTNPOn-RHEMomyfNrA1E" />
    {{!-- SEO --}}
    <meta name="description"
        content="k1n0c0m | Servicios web y comunicaciones en Medellín | Comunicación digital a la medida">
    <meta name="keywords"
        content="servicios web, desarrollo web, comunicaciones, publicidad, comunicacion digital, posicionamiento, seo" />
    <meta name="author" content="k1n0">
    {{!-- Título --}}
    <title>K1n0.c0m | Servicios web y comunicaciones en Medellín</title>
    {{!-- Google Font --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {{!-- Css --}}
    <link rel="stylesheet" href="/css/estilos.css">
    {{!-- Captcha --}}
    <script src="https://www.google.com/recaptcha/api.js?render=6LcAQioaAAAAABTVMAllg8UW0swpY3VaeDX9GEOv"></script>
    {{!-- Favicon --}}
    <link rel="icon" type="image/ico" href="/img/favicon-ico-kino.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JLP0S9FLPD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JLP0S9FLPD');
    </script>
</head>

<body>

    {{> nav }}

    {{> message }}

    {{> bg }}

    {{{ body }}}

    {{> slogan }}

    {{> footer }}

    {{!-- Jquery --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById('verifyForm').addEventListener('submit', runVerify);
        function runVerify(e) {
            e.preventDefault();
            runCaptcha();
        }

        function runCaptcha() {
            grecaptcha.execute('6LcAQioaAAAAABTVMAllg8UW0swpY3VaeDX9GEOv', { action: 'submit' }).then(function (token) {
                const fullname = document.querySelector('#fullname');
                const username = document.querySelector('#username');
                const password = document.querySelector('#password');
                const phone = document.querySelector('#phone');
                const email = document.querySelector('#email');
                const captcha = token;

                sendData(fullname, username, password, phone, email, captcha);
            });
        }

        function sendData(fullname, username, password, phone, email, captcha) {
            const info = JSON.stringify({ fullname: fullname, username: username, password: password, phone: phone, email: email, captcha: captcha });
            fetch('/verify', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-type': 'application/json'
                },
                body.info
            }).then((res) => res.json()).then((data) => {
                alert('msg: ' + data.msg + ', score' + data.score);
            });
        };
    </script>
</body>

</html>