{{!-- Inner --}}
<img src="/img/inner-nosotros-kino.jpg" alt="Inner Nosotros k1N0" title="Nosotros | K1n0.com" class="inner__nos">
<img src="/img/inner-nosotros-kino-mob.jpg" alt="Inner Nosotros k1N0 Mobile" title="Nosotros | K1n0.com" class="inner__mob">
{{!-- Fin Inner --}}
<div class="masthead_nos"></div>
{{!-- Title --}}
<div class="nos">
    <div class="container">
        <div class="nos__header">
            <h1>Nosotros somos | K1n0.com</h1>
            <p>Una agencia de <strong>comunicación digital</strong> para la <strong>planeación estratégica</strong> y la
                <strong>visibilidad</strong> de tu negocio
            </p>
        </div>

        <div class="nos__body">

            <div class="nos__body--item">
                <div class="item--title">
                    <h3>Misión</h3>
                </div>
                <div class="item--body">
                    <img src="/img/vision.jpg" alt="Misión k1n0c0m" title="k1n0.com | Misión">
                    <p>
                        Ofrecemos servicios de Comunicación digital para grandes, pequeñas y medianas 
                        empresas en todos los sectores comerciales para la aplicación de estrategias 
                        y planes de comunicación con públicos internos y externos.
                    </p>
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3>Visión</h3>
                </div>
                <div class="item--body" style="text-align: right;">
                    <p>
                        En el año 2024 onvertirnos en la agencia líder en comunicación digital en Medellín 
                        y en la primera opción para clientes que buscan estrategias de comunicación digital
                        para su aplicación con público interno y externo.
                    </p>
                    <img src="/img/mision.jpg" alt="Visión k1n0c0m" title="k1n0.com | Visión">
                </div>
            </div>

            <div class="nos__body--item">
                <div class="item--title">
                    <h3>Valores</h3>
                </div>
                <div class="item--body">
                    <img src="/img/valores.jpg" alt="Valores k1n0c0m" title="k1n0.com | Valores">
                    <p>
                        Basamos nuestro trabajo en el cumplimiento, la <strong>agilidad</strong> en la respuesta y la 
                        <strong>calidad</strong> en el asesoramiento en temas de comunicación digital y en la aplicación 
                        y ejecución de herramientas para el cumplimiento de los objetivos.
                    </p>
                </div>
            </div>

        </div>

        <div class="partners">
            <div class="part__title">
                <h3>Nuestros aliados</h3>
                <h4>Certifican nuestra labor</h4>
            </div>
            <div class="part__body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="aliance">
                                <a href="https://asesoriasjuridicasmed.com/" target="_blank" rel="nofollow">
                                    <img src="/img/brands/logo-ajm.png" alt="AJM" title="Asesorías Jurídicas Medellín">
                                    <p>
                                        Asesorías Jurídicas Medellín<br>
                                        Abogados profesionales en Medellín
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="aliance">
                                <a href="https://farsalicolombia.com/" target="_blank" rel="nofollow">
                                    <img src="/img/brands/logo-farsali.png" alt="Farsáli Colombia" title="Farsáli Colombia">
                                    <p>
                                        Farsáli Colombia<br>
                                        Proveedores supermayoristas de productos cosméticos
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="aliance">
                                <a href="https://teacompano.com.co/" target="_blank" rel="nofollow">
                                    <img src="/img/brands/logo-teacompano.png" alt="Teacompaño" title="Teacompaño">
                                    <p>
                                        Teacompaño<br>
                                        Servicios de Enfermería domicialiaria
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Fin Title --}}