<img src="/img/inner-servicios-kino.jpg" alt="Servicios k1n0" alt="Servicios | K1n0.com" class="inner__con">
<img src="/img/inner-servicios-kino-mob.jpg" alt="Servicios k1n0" alt="Servicios | K1n0.com" class="inner__mob">

{{!-- Privacy --}}
<div class="privacy">
    <div class="container">
        <div class="privacy__header">
            <h1>Política de Privacidad | K1n0.com</h1>
        </div>
        <div class="container">
            <div class="privacy__body">
                <p>
                    En <strong>k1n0c0m</strong>, valoramos La privacidad y confianza de nuestros clientes son y asegurarnos que tengan
                    conocimiento que la privacidad y protección de sus datos personales de acuerdo a nuestra Política de Privacidad
                    y en estricto acatamiento a la <i>Resolución 2256 de 2020 sobre Política de Seguridad y Privacidad de la Información</i>,
                    incluyendo la <i>Resolución 924 de 2020 sobre Políticas de Tratamiento de Datos Personales del Ministerio de las TIC</i>
                    sobre las <strong>Condiciones de uso</strong> del sitio web <strong><a href="https://www.k1n0.com.co/">k1n0.com.co</a></strong>,
                    a efecto de garantizar la privacidad y el derecho a la protección de los datos de las personas.<br>
                    
                    <br><h3>Responsables del uso de datos personales | K1n0c0m</h3>
                    
                    <br>En representación de la Agencia de Comunicación Digital K1n0c0m{{!-- S.A.S.--}}, firma <strong>John Edison Múnera Bedoya</strong>,
                    en la ciudad de Medellín el 13 de enero de 2021, con registro en la <strong>Calle 1B #66-94</strong><br><br>

                    <br><h3>Condiciones de uso de datos | K1n0c0m</h3>

                    <br>Los datos personales de los usuarios registrados en la web <strong><a href="https://www.k1n0.com.co/">k1n0.com.co</a></strong>
                    serán necesarios para cumplir con los objetivos planteados para prestar servicios de Comunicación Digital a toda clase de empresas
                    industriales, comerciales o de servicios.<br><br>

                    <br><h3>Medios de atención | K1n0c0m</h3>

                    <br>En caso de que alguno de nuestros usuarios sienta que el tratamiento de sus datos personales, así como cualquier otro derecho 
                    ha sido vulnerado, o que han sido utilizados para otros fines, favor de presentar una solicitud por escrito dirigida a nuestro
                    Departamento Jurídico a través del siguiente correo electrónico:<br><br>
                    <ul>
                        <li>k1n0c0m: <a href="mailto:kinotrance@gmail.com" target="_blank" rel="nofollow">kinotrance@gmail.com</a>
                        </li>
                    </ul>
                    <br><br>
                </p>
            </div>
        </div>
    </div>
</div>